body {
  color: #fff;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: #006875;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo-img {
  height: 200px;
  width: 200px;
}

.tool-pane {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px;
}

.action-icon {
  fill: #fff;
  cursor: pointer;
}
