.node {
  width: 25px;
  height: 25px;
  border: 3px solid grey;
  border-radius: 3px;
}

.start,
.start.visited {
  background-color: #20ebb5;
}

.end,
.end.path {
  background-color: #ef476f;
}

.visited {
  background-color: #ffcc54;
}

.wall {
  background-color: black;
}

.path,
.path.visited {
  background-color: greenyellow;
}
