* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: aquamarine;
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 1220px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 1000px) {
  main {
    margin-left: 5rem;
    padding: 1rem;
  }
}
